aiodns==2.0.0
aiohttp==3.6.2
aiohttp-socks==0.5.5
astroid==2.4.2
async-timeout==3.0.1
atomicwrites==1.4.0
attrs 
Automat 
autopep8==1.5.4
bcrypt
bs4==0.0.1
cchardet==2.1.6
certifi==2020.6.20
cffi 
chardet==3.0.4
colorama==0.4.3
constantly==15.1.0
cryptography 
cssselect==1.1.0
elasticsearch==7.9.1
fake-useragent==0.1.11
geographiclib==1.50
geopy==2.0.0
googletransx==2.4.2
hyperlink 
idna 
incremental==17.5.0
iniconfig 
isort==5.5.4
itemadapter 
itemloaders 
jmespath 
lazy-object-proxy==1.4.3
lxml 
mccabe==0.6.1
more-itertools 
multidict==4.7.6
numpy
packaging==20.4
#pandas==1.1.2
parsel==1.5.2
pluggy==0.13.1
Protego
py 
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycares==3.1.1
pycodestyle==2.6.0
pycparser 
PyDispatcher==2.0.5
pydocstyle==5.0.2
PyHamcrest 
pylint==2.6.0
pyOpenSSL 
pyparsing==2.4.7
PySocks==1.7.1
pytest==6.0.2
pytest-runner==5.2
python-dateutil==2.8.1
python-socks==1.1.0
pytz
pywin32

queuelib==1.5.0
requests==2.24.0
schedule==0.6.0
Scrapy 
service-identity 
six==1.15.0
snowballstemmer==2.0.0
soupsieve==2.0.1
toml 
twint==2.1.20
Twisted==20.3.0
urllib3==1.25.10
w3lib==1.21.0
wincertstore==0.2
wrapt==1.12.1
yarl==1.6.0
zope.interface
